/* Stili di base */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    color: #2c3e50;
}
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #34495e;
    padding: 10px 0;
}
nav a {
    color: #ecf0f1;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    background-color: #2c3e50;
    border-radius: 5px;
}
section {
    padding: 20px;
    margin: 40px auto;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
h2 {
    color: #2c3e50;
    border-bottom: 2px solid #34495e;
    padding-bottom: 10px;
}
.profile-pic {
    display: block;
    margin: 20px auto;
    max-width: 150px ;
    border-radius: 50% ;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.project {
    margin-bottom: 20px;
}
.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.skills ul {
    list-style-type: none;
    padding: 0;
}
.skills ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
footer {
    text-align: center;
    padding: 15px 0;
    background-color: #2c3e50;
    color: #ecf0f1;
}


.footer-content {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 20px;
}
      
.footer-content p {
margin: 5px 0;
}
      
.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
      
.footer-content .icon {
    width: 16px;
    height:16px;
    vertical-align: middle;
    margin-right: 5px;
}
      
.post-listing {
    text-align: center; 
    margin-bottom: 20px; 
    padding: 15px 20px; 
}
  
.post-listing h2 {
    font-size: 1.5em; 
    margin-bottom: 5px;
}
  
.post-listing h2 a {
    color: #2c3e50; 
    text-decoration: none; 
    font-weight: bold; 
}
  
  /* Horizontal line under the title */
.post-listing h2:after {
    content: "";
    display: inline-block; /* Change to inline-block for same width as title */
    height: 1px; /* Set the height of the line */
    background-color: #ddd; /* Set the line color */
    margin-top: 10px; /* Add space above the line */
    margin-bottom: 20px; /* Add space below the line */
}
  
  
  
  

  

/* Post container */
.post-container {
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
  
  /* Post title */
.post-title {
    color: #2c3e50;
    border-bottom: 2px solid #34495e;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
  
  /* Post date */
.date {
    font-size: 0.8em;
    color: #999;
    margin-bottom: 20px;
}
  
  /* Post content */
.post-content {
    line-height: 1.6;
    text-align: justify; /* Adjust this to your preference: left, center, justify, etc. */
}
  